
#widget-com-enonic-app-gareport {
    display: block;
    margin: 0 10px;
}

#widget-com-enonic-app-gareport>h1 {
    font-size: 2rem;
}
#gaDevices,
#gaBrowsers {
    display: inline-block;
}
#gaReferer {
    margin-top: 20px;
}

.container {
    display: none;
}

#gaData h1 {
    font-size: 1.3rem;
    line-height: 2rem;
}

#gaData h2 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
