
#widget-com-enonic-app-gareport {
    display: block;
    margin: 0 10px;
}

#googleAnalyticsDevices,
#googleAnalyticsBrowsers {
    display: inline-block;
}

#googleAnalyticsReferer {
    margin-top: 20px;
}
